@page
@model Practice1.Views.Home.Denied

@{
    Layout = null;
}

@{
    ViewData["Title"] = "Доступ запрещен";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Доступ запрещен</p>
</header>