@using Practice1.Controllers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PermOnRamp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Practice1.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            @{
                int id = Practice1.User.CurrentUserIdGet();
                if (id != -1)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Timetable" asp-action="Index">Главная</a>
                }
                else
                {
                    <a class="navbar-brand">Главная</a>
                }
            }
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">

                    @{
                        id = Practice1.User.CurrentUserIdGet();
                        if (id != -1)
                        {
                            var context = new Practice1.PracticeCrossfitContext();
                            var r = context
                                .Users.Where(u => u.Id == id).FirstOrDefault().RoleId;
                            var roleTrainer = context.Roles
                                .Where(r => r.Name == "Тренер").FirstOrDefault().Id;
                            if (r == roleTrainer)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark"  asp-area="" asp-controller="User" asp-action="Index">Пользователи</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Training" asp-action="Index">Тренировки</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="TrainingFormat" asp-action="Index">Форматы тренировок</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Tariff" asp-action="Index">Тарифы</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Subscription" asp-action="Index">Абонементы</a>
                                </li>
                            }
                        }
                        else
                        {

                        }
                    }

                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @{
                        if (id!= -1)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="User" asp-action="Details" asp-route-id="@id">Профиль</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Выход</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Вход</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>